.sideProjectItem {
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background-color 1s, border 1s;
  padding: 12px;
}

.sideProjectItemOpen {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
}
